{% extends "requests_app/form_base.html" %}

{% block title %}Add New Requestor{% endblock %}

{% block form_content %}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Add New Requestor</h2>
    <a href="{% url 'home' %}" class="btn btn-outline-secondary">
        <i class="fas fa-home me-2"></i>Back to Homepage
    </a>
</div>
<div class="mb-3">
    <label for="id_name" class="form-label">Name:</label>
    <input type="text" class="form-control" id="id_name" name="name" required maxlength="256">
</div>
<div class="mb-3">
    <label for="id_priority" class="form-label">Priority</label>
    {{ form.priority }}
    <div class="form-text">1 = Low, 5 = High</div>
</div>
{% endblock %} 